html,body{
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
ul{
  list-style-type: none;
  margin: 0;
}
.relative{
  position: relative;
}
.en-title{
  color: #006CA4;
}
.content{
  max-width: 800px;
  width:100%;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 600px) {
  .content{
    flex-direction:column;
  }
}
#particles-js{
  z-index: 99;
  position: absolute;
  width:100%;
  height: 60%;
}
.star-image{
  width:100%;
  max-width: 1920px;
  height: auto;
}
.timer{
  overflow: hidden;
  span{
    background: rgba(255,255,255,0.2);
    display: inline-block;
    width: 36px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 14px;
  }
}
.line-content{
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  text-align: center;
  color:#FFF;

  .one-section{
    position: absolute;
    left:0;
    top: 15%;
    right:0;
    .company{
      font-size: 2.4em;
      margin-bottom: 2rem;
      font-weight: bold;
    } 
    .title{
      font-size: 1.4em;
      font-weight: bold;
    }
    .tips{
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .line-content .one-section{
    top:0;
  }
}
#second-section{
  background-color: #000;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding:24px;
  
  .item{
    flex:1;
    padding: 24px;
    font-size: 0.8em;
    p{
      color:#5E5E5E;
    }
  }
  .team-info{
    background: #0F0F0F;
    margin:48px;
  }
}

#third-section{
  top:-1px;
  .reversion{
    transform: rotate(180deg);
  }
  .footer-countdown{
    position: absolute;
    color:#FFF;
    z-index: 99;
    top:0;
    left:50%;
    margin-left: -105px;
  }
  .coming{
    display: flex;
    width:210px;
    justify-content: space-between;
    span{
      flex:1;
      text-align: center;
      padding:24px 0;
    }
  }
  .footer{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    z-index: 99;
    color:#FFF;
    padding:8px;
    background: rgba($color: #000000, $alpha: .5);
    padding:24px;
  }
  .footer-title{
    color:#4F5254;
  }
  .footer-item{
    flex:1;
  }
}