html,body{
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.relative{
  position: relative;
}
#particles-js{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
}
.line-content{
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  background-color: #030914;
  background-image: url('/assets/img/star.jpg');
}
.title{
  color:#FFF;
  text-align: center;
}
.timer{
  color:#FFF;
  display: flex;
  align-items: center;
}