<script type="text/template" id="main-example-template">
<div class="time <%= label %>">
  <span class="count curr top">
    <%= curr %>
  </span>
  <span class="count next top">
    <%= next %>
  </span>
  <span class="count next bottom">
    <%= next %>
  </span>
  <span class="count curr bottom">
    <%= curr %>
  </span>
  <span class="label">
    <%= label.length < 6 ? label : label.substr(0, 3)  %>
  </span>
</div>
</script>

<div id="fullpage">
  <div class="section relative">
    <div id="particles-js"></div>
    <img class="star-image top-image" src="/assets/img/star.jpg" alt="star">
    <div class="line-content">
      <div class="one-section main-example">
        <h3 class="company">COINTOBE</h3>
        <p class="coming">为你而来</p>
        <h3 class="title">数字资产交易全平台</h3>
        <p class="tips">Digital Assets FULL-Featured Trading Platform</p>
        <!-- <div id="main-example" class="countdown-container"></div> -->
        <div id="main-example" class="timer"></div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="second-section">
  <div class="content">
    <div class="item">
      <h4>币币交易</h4>
      <h5 class="en-title">Spot Trading</h5>
      <p>以撮合的形式为全球投资者提供数字资产兑换服务，CoinMex基于券商模型设计，采用微服务架构，分布式全内存撮合，在规避风险的同时保证了超高的处理能力。</p>
      <p>Multi-layer distributed memory matching mechanismSuper-high transaction processing ability Configurable digital asset template Fast speed of listing token and removing token</p>
    </div>
    <div class="item">
      <h4>币币保证金交易</h4>
      <h5 class="en-title">Spot Leverage Trading</h5>
      <p>一种可以放大投资者收益和风险的交易模型。投资者提供一定数量的数字资产作为保证金，通过交易平台完成融币后参与数字资产兑换服务。</p>
      <p> CoinMex通过分仓机制严格控制交易的爆仓风险，面对投资者行情判断失误时也能够最大限度地控制损失。</p>
      <p>Controllable forced liquidation risks Flexible trading Securities Margin Trading</p>
    </div>
    <div class="item">
      <h4>法币交易</h4>
      <h5 class="en-title">Fiat Trading</h5>
      <p>投资者可自由决定购买或者出售数字资产的价格，且自由选择成交。 </p>
      <p>CoinMex拥有全球最极速便捷的交易流程体验，是新手入场交易市场的重要通道，也将传统的法币交易由低频提高到了中高频交易行列。</p>
      <p>Free trading Fast and Convenient Comprehensive functions free configuration of certified merchants free allocation of trade currency</p>
    </div>
  </div>
  <div class="content">
    <div class="item">
      <h4>普通合约交易</h4>
      <h5 class="en-title">Contract Trading</h5>
      <p>虚拟合约是以数字资产为标的的标准化合约，务求为业界投资者提供方便且低成本的风险管理及对冲工具。 </p>
      <p>CoinMex拥有多币种、高杠杆、灵活等特点，有效满足不同投资者策略，同时拥有自动化风控系统，可有效抵制重大系统性风险。</p>
      <p>The virtual contract is a standardized contract based on digital assets to provide convenient and low-cost risk management and hedging tools for industry investors.</p>
      <p>CoinMex has the characteristics of multi-currency, high leverage and flexibility, which can effectively meet different investors' strategies. Meanwhile, it has an automatic risk control system, which can effectively resist major systemic risks.</p>
    </div>
    <div class="item">
      <h4>ETF 基金</h4>
      <h5 class="en-title">ETF</h5>
      <p>一种指数和投资组合工具。通过ETF管理的是一批特定的数字资产，降低投资者选择数字资产的难度以及投资单一数字资产的资金风险。</p>
      <p>A combination tool of index and investment. ETF manage a number of specific digital assets, reducing the difficulty of choosing digital assets and the risk of investing in a single digital asset for investors.</p>
    </div>
  </div>
  <div class="content">
    <div class="item team-info">
      <h3>CoinMex 团队介绍</h3>
      <h4 class="en-title">CoinMex Team Introduction</h4>
      <p>CoinMex创始团队成员来自阿里、腾讯、百度等互联网巨头企业，大部分成员曾经入职于区块链公司和顶尖交易所以及著名的证券公司，同时还有安全专家的加盟。团队成员拥有丰富的区块链技术研究、产品设计和交易所全球运营的成功经验。</p>
      <p>一群怀揣着对区块链敬畏之心的、专业严谨的、有梦想的年轻人相聚在一起，专注为全球用户提供安全、便捷、极速以及标准化的区块链资产兑换服务，努力寻找优秀项目，不断创新突破自己。</p>
      <p>CoinMex将一路砥砺前行，秉承”客户第一”的理念，让全球用户享受普惠金融服务。</p>
      <p>CoinMex core team members come from Alibaba, Tencent, Baidu and some other Internet giants, most of the members worked in block chain leading companies and exchanges, as well as some famous securities company and security experts to join us. The team is very experienced in block chain technology research, product design and exchange global operation.</p>
      <p>The group of young, professional people, gathering together with a dream and the respect of blockchain technology, are dedicated to serve for customers with safe, convenient, fast, and standardization of blockchain asset exchange services and find good projects.  They will continuously working on this field's edge.</p>
      <p>CoinMex will continue to build on the concept of "Customer First" and offer global users top financial services.</p>
    </div>
  </div>
</div>
<div class="section relative" id="third-section">
  <img class="star-image reversion" src="/assets/img/star.jpg" alt="star">
  <div class="footer-countdown">
    <div id="footer-time" class="timer"></div>
    <div class="coming">
      <span>COMING</span>
      <span>FOR</span>
      <span>YOU</span>
    </div>
  </div>
  <div class="footer">
    <p class="homepage-link">www.cointobe.pro</p>
  </div>
  <!-- <div class="footer">
    <div class="content">
      <div class="footer-item">
          <h4 class="footer-title">网站地图</h4>
          <ul>
            <li><a href="">首页</a></li>
            <li><a href="">Why we need lambda?</a></li>
            <li><a href="">工作原理</a></li>
            <li><a href="">lambda 生态</a></li>
          </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-title">联系我们</h4>
      </div>
    </div>
  </div> -->
</div>