<script type="text/template" id="main-example-template">
<div class="time <%= label %>">
  <span class="count curr top">
    <%= curr %>
  </span>
  <span class="count next top">
    <%= next %>
  </span>
  <span class="count next bottom">
    <%= next %>
  </span>
  <span class="count curr bottom">
    <%= curr %>
  </span>
  <span class="label">
    <%= label.length < 6 ? label : label.substr(0, 3)  %>
  </span>
</div>
</script>

<div id="fullpage">
  <div class="section relative">
    <div id="particles-js"></div>
    <img class="star-image top-image" src="/assets/img/star.jpg" alt="star">
    <div class="line-content">
      <div class="one-section main-example">
        <img width="280" src="/assets/img/logo.png" alt="logo">
        <p class="coming-zh">
          <span>为</span>
          <span>你</span>
          <span>而</span>
          <span>来</span>
        </p>
        <!-- <div id="main-example" class="countdown-container"></div> -->
        <div id="main-example" class="timer"></div>
        <h3 class="title">数字资产交易<bold>「全」</bold>平台</h3>
        <p class="tips">Digital Assets <bold>「 FULL-FEATURED 」</bold> Trading Platform</p>
      </div>
    </div>
  </div>
</div>
<div class="section" id="second-section">
  <div class="content">
    <div class="item">
      <h4>币币交易</h4>
      <h5 class="en-title">Spot Trading</h5>
      <p>以撮合的形式为全球投资者提供数字资产兑换服务，CoinMex基于券商模型设计，采用微服务架构，分布式全内存撮合，在规避风险的同时保证了超高的处理能力。</p>
      <p>With a world-leading matching system, CoinMex provides investors with digital assets service. With a broker model design, micro-service architecture and distributed full memory matching, CoinMex maintains ultrafast processing speed while controlling risks to the minimum.  </p>
    </div>
    <div class="item">
      <h4>币币保证金交易</h4>
      <h5 class="en-title">Spot Leverage Trading</h5>
      <p>一种可以放大投资者收益和风险的交易模型。投资者提供一定数量的数字资产作为保证金，通过交易平台完成融币后参与数字资产兑换服务。</p>
      <p> CoinMex通过分仓机制严格控制交易的爆仓风险，面对投资者行情判断失误时也能够最大限度地控制损失。</p>
      <p>Margin trading potentially magnifies gains as well as losses for investors. Margin traders, after pulling up a required amount of funds as collateral from their own crypto resources, can use borrowed funds from the platform to trade a crypto-asset. </p>
      <p>CoinMex adopts optimal position sizing mechanism to strictly control the risk of forced liquidation, minimizing the losses that might be sustained by investors when they misjudge the market. </p>
    </div>
    <div class="item">
      <h4>法币交易</h4>
      <h5 class="en-title">Fiat Trading</h5>
      <p>投资者可自由决定购买或者出售数字资产的价格，且自由选择成交。 </p>
      <p>CoinMex拥有全球最极速便捷的交易流程体验，是新手入场交易市场的重要通道，也将传统的法币交易由低频提高到了中高频交易行列。</p>
      <p>Investors can make their own decisions on the bid/ask prices and volume when trading crypto-assets.</p>
      <p>CoinMex provides intuitive trading experience for beginners in the crypto-space, by streamlining trading processes and realizing lightning fast execution. </p>
    </div>
  </div>
  <div class="content small-content">
    <div class="item">
      <h4>普通合约交易</h4>
      <h5 class="en-title">Contract Trading</h5>
      <p>虚拟合约是以数字资产为标的的标准化合约，务求为业界投资者提供方便且低成本的风险管理及对冲工具。 </p>
      <p>CoinMex拥有多币种、高杠杆、灵活等特点，有效满足不同投资者策略，同时拥有自动化风控系统，可有效抵制重大系统性风险。</p>
      <p>Virtual contracts are standardized contracts for crypto-assets, providing investors in the crypto-space with an accessible and low-cost hedging tool. With a wide variety of currencies and leverage ratios.</p>
      <p>CoinMex offers a high level of flexibility to cater to different investment strategies. At the same time, the platform’s automated risk control system can effectively reduce systemic risks. </p>
    </div>
    <div class="item">
      <h4>ETF 基金</h4>
      <h5 class="en-title">Exchange-Traded Fund</h5>
      <p>一种指数和投资组合工具。通过ETF管理的是一批特定的数字资产，降低投资者选择数字资产的难度以及投资单一数字资产的资金风险。</p>
      <p>Exchange-traded fund (ETF) is an index and portfolio. ETF tracks a particular set of digital assets, with which investors can gain exposure to a basket of assets and limited risk associated with single tokens.</p>
    </div>
  </div>
  <div class="content">
    <div class="item team-info">
      <div class="logo-alpha">
          <img width="100" src="/assets/img/logo_alpha.png" alt="logo alpha">
      </div>
      <div class="team">
        <img width="160"  src="/assets/img/team.png" alt="team">
      </div>
      <div class="team-content">
          <p>CoinMex 创始团队成员来自阿里、腾讯、百度等互联网巨头企业，大部分成员曾经入职于区块链公司和顶尖交易所以及著名的证券公司，同时还有安全专家的加盟。团队成员拥有丰富的区块链技术研究、产品设计和交易所全球运营的成功经验。</p>
          <p>一群怀揣着对区块链敬畏之心的、专业严谨的、有梦想的年轻人相聚在一起，专注为全球用户提供安全、便捷、极速以及标准化的区块链资产兑换服务，努力寻找优秀项目，不断创新突破自己。CoinMex 将一路砥砺前行，秉承 ”客户第一” 的理念，让全球用户享受普惠金融服务。</p>
          <p>The founding team of CoinMex are all from internet giants like Alibaba, Tencent and Baidu. Prior to joining CoinMex, most of our team members worked in blockchain field companies, major crypto-exchanges or leading traditional securities firms. We’re quants, engineers, analysts, security experts and world class crypto-traders, with rich and successful experience in blockchain technology study, product designing and globalized operations of an exchange. </p>
          <p>Humbled by blockchain technology, a group of young people gathered together for the same ultimate dream, and devoted themselves to providing users around the world with secure, convenient and standardized crypto-assets exchange service. CoinMex will always forge ahead in the crypto-space and put users’ needs first, providing inclusive finance for all. </p>
      </div>
    </div>
  </div>
</div>
<div class="section relative" id="third-section">
  <img class="star-image reversion" src="/assets/img/star.jpg" alt="star">
  <div class="footer-countdown">
    <div id="footer-time" class="timer"></div>
    <div class="coming">
      <span>COMING</span>
      <span>FOR</span>
      <span style="text-align:left">YOU</span>
    </div>
  </div>
  <div class="footer">
    <p class="homepage-link">www.coinmex.com</p>
    <div id="particles-js-footer"></div>
  </div>
</div>